/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-sm-api-block-sm-api-block {
	padding: 16px;
	background-color: #21759b;
	color: #fff;

	.sm-api-table {
		border: 1px solid #666;
		border-collapse: collapse;
		text-align: left;

		table {
			width: 100%;
		}
	}
}
