// Color styles.
$primary-text: #222222;
$secondary-text: #555555;
$orange: #E27730;
$link: #2171B1;
$link-hover: #135e96;
$negative: #D63638;

// Spacings.
$content-padding: 20px;
$line-height: 1.5em;